<header>
  <div class="container flex-wrapper">
    <div class="row">
      <h2>
        <a href="#">Kongera</a>
      </h2>
      <nav>
        <ul>
          <li>
            <a href="#">About</a>
          </li>
          <li>
            <a href="#">Contact Us</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<section class="header-sec">
  <div class="animated slideInRight bkg-grad-right">dd</div>
  <div class="header-content">
    <div class="header-content-wrap flex-wrapper">
  
      <span>
  
        <div data-depth-x="0.00" class="glassesImg animated rollIn">d</div>
        <div data-depth-x="0.50" class="imacImg animated slideInDown">d</div>
        <div data-depth-x="1.00" class="keyboardImg animated rollInBottom">d</div>
        <div data-depth-x="0.00" class="mouseImg animated rollInRight">d</div>
  
      </span>
      <span id="scene">
        <div data-depth="0.60">Kongera</div>
      </span>
  
    </div>
  </div>
  </section>

<section class="about">
  <div class="about-content">
    <h1>Goa Travel</h1>
    <h3>Unmissable Tours Around Beautiful Goa</h3>
    <a href="#" class="btn">Contact Us Now</a>
  </div>
</section>

