.header-sec {
  height: 100vh;
  background-color: red;
}

.header-sec .bkg-grad-right {
  display: flex;
  float: right;
  height: 100vh;
  width: 50vw;
  background-color: blue;
}

.header-sec .header-content{
  position: absolute;
  display: flex;
  flex-direction: column;  
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: aqua;
}

.header-content-wrap{
  margin: 0 auto;
  position: absolute;
  width: 100%;
  height: 80vh;
  background-color: red;
}

/* .header-content-wrap span {
  width: 100%;
  height: 100%;
  background-color: red;
} */


.header-content-wrap .plantImgWrap, 
.header-content-wrap .glassesImgWrap,
.header-content-wrap .imacImgWrap {
  width: 100%;
  background-color: aquamarine;
}

.header-content-wrap .plantImg{
  position: relative;
  float: left;
  /* margin: 250px 10px 0px 0px; */
  width: 100px;
  height: 100px;
  background-color: yellow;
}

.header-content-wrap .imacImg{
  width: 300px;
  height: 300px;
  background-color: blue;
}

.header-content-wrap .glassesImg{
  float: left;
  /* margin: 250px 10px 0px 0px; */
  width: 100px;
  height: 100px;
  background-color: yellow;
}

.header-content-wrap .keyboardImg{
  /* float: left; */
  /* margin: 320px 0px 0px -250px;   */
  width: 200px;
  height: 50px;
  background-color: green;
}

.header-content-wrap .mouseImg{
  /* float: left; */
  /* margin: 320px 0px 0px 50px;     */
  width: 80px;
  height: 80px;
  background-color: bisque;
}