<header>
  <div class="container flex-wrapper">
    <div class="row">
      <h2>
        <a href="#">Kongera</a>
      </h2>
      <nav>
        <ul>
          <li>
            <a href="#">About</a>
          </li>
          <li>
            <a href="#">Contact Us</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<section class="header-sec">
  <!-- <div class="animated slideInRight bkg-grad-right">dd</div> -->
  <div class="header-content">
    <div class="header-content-wrap">
      <span id="scene">
        <div data-depth-x="0.20" class="plantImgWrap">
          <div class="plantImg">d</div>
        </div>
      
         <div data-depth-x="0.60" class="glassesImgWrap">
          <div class="glassesImg animated rollIn">d</div>
        </div>
        
        <div data-depth-x="0.50" class="imacImgWrap">
          <div class="imacImg animated slideInDown">d</div>
        </div>

        <div data-depth-x="0.50" class="keyboardImgWrap">
          <div class="keyboardImg animated rollInBottom">d</div>
        </div>

        <div data-depth-x="0.50" class="mouseImgWrap">
          <div class="mouseImg animated rollInRight">d</div>
        </div>
     
        <div data-depth-x="0.50" class="logoWrap">
          <div>Kongera</div>
        </div>

      </span>
    </div>
  </div>
  </section>

<section class="about">
  <div class="about-content">
    <h1>Goa Travel</h1>
    <h3>Unmissable Tours Around Beautiful Goa</h3>
    <a href="#" class="btn">Contact Us Now</a>
  </div>
</section>

