<header>
  <div class="container flex-wrapper">
    <div class="row">
      <h2>
        <a href="#">Kongera</a>
      </h2>
      <nav>
        <ul>
          <li>
            <a href="#">About</a>
          </li>
          <li>
            <a href="#">Contact Us</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<section id="header">
  <!-- 1nd scene -->
  <div class="content-wrap center-content">
    <div class="content-wrap-80vh">
      <span id="scene-left">
        <div data-depth-x="0.10" class="plantImgWrap">
          <div class="plantImg">d</div>
        </div>

        <div data-depth-x="0.60" class="glassesImgWrap">
          <div class="glassesImg animated rollIn">d</div>
        </div>

        <div data-depth-x="0.40" class="imacImgWrap">
          <img class="imacImg animated slideInDown" src="..\assets\iMac_left.png" />
        </div>

        <div data-depth-x="0.40" class="keyboardImgWrap">
          <div class="keyboardImg animated rollInBottom">d</div>
        </div>

        <div data-depth-x="0.40" class="logoWrap">
          <div>Kongera</div>
        </div>

      </span>
    </div>
  </div>

  <!-- 2nd scene -->
  <div class="animated slideInRight right-grad">
    <div class="content-wrap-80vh">
      <span id="scene-right">
        <div data-depth-x="0.80" class="imacImgWrap">
          <img class="imacImg animated iMacDesignSlideInRight" src="..\assets\iMac_right.png" />
        </div>

        <div data-depth-x="0.80" class="mouseImgWrap">
          <div class="mouseImg animated rollInRight">d</div>
        </div>

      </span>
    </div>
  </div>

  <!-- 3rd scene -->
  <div class="content-wrap">
    <div class="content-wrap-80vh">
      <span id="scene-left2">

        <div data-depth-x="0.40" class="keyboardImgWrap">
          <div class="keyboardImg animated rollInBottom">keyboard</div>
        </div>

        <div data-depth-x="0.40" class="logoWrap">
          <div>Kongera</div>
        </div>
      </span>
    </div>
  </div>

  <!-- Middle white border -->
  <div class="content-wrap">
    <span class="animated slideInRight middleBorder"></span>
  </div>
</section>

<section class="about">
  <div class="about-content">
    <h1>Goa Travel</h1>
    <h3>Unmissable Tours Around Beautiful Goa</h3>
    <a href="#" class="btn">Contact Us Now</a>
  </div>
</section>