/* --------------------------------------------- */
/* Header section */
/* --------------------------------------------- */

#header-section {
  height: 100vh;
  background: #beaec0; /* Old browsers */
  background: -moz-linear-gradient(left, #beaec0 0%, #7b7c8d 50%, #2d4050 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #beaec0 0%,#7b7c8d 50%,#2d4050 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #beaec0 0%,#7b7c8d 50%,#2d4050 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#beaec0', endColorstr='#2d4050',GradientType=1 ); /* IE6-9 */
}

#header-section .right-grad {
  display: flex;
  flex-direction: column;  
  justify-content: center;
  overflow: hidden;
  float: right;
  height: 100vh;
  width: calc(50vw - 0px);
  background: #ef98a1; /* Old browsers */
  background: -moz-linear-gradient(left, #ef98a1 0%, #eeb3a2 50%, #eecca3 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #ef98a1 0%,#eeb3a2 50%,#eecca3 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #ef98a1 0%,#eeb3a2 50%,#eecca3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef98a1', endColorstr='#eecca3',GradientType=1 ); /* IE6-9 */
}

.wrap{
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.content-wrap{
  overflow: hidden;
  position: absolute;
  height: 100vh;
  width: 100%;
}
.center-content{
  display: flex;
  flex-direction: column;  
  justify-content: center;
}

.middleBorder {
  height: 100vh;
  width: calc(50vw + 1px);
  display: flex;
  flex-direction: column;  
  justify-content: center;
  overflow: hidden;
  float: right;
  border-left: 2px solid #ffffff;
}

.content-wrap-80vh{
  width: 100%;
  height: 70vh;
  max-height: 1000px;
}

#scene-left {
  display: block;
  height: 80%;  
  /* zoom: 0.7;
  -moz-transform: scale(0.7); */
}
#scene-middle {
  display: block;
  height: 80%;
  /* zoom: 0.7;
  -moz-transform: scale(0.7); */
}
#scene-right {
  display: block;
  height: 80%;
  /* zoom: 0.7;
  -moz-transform: scale(0.7); */
}

#scene-left .plantImgWrap{
  left: calc(15% - 183px) !important;
  top: -28% !important;
}
#scene-left .plantImg{
  width: 366px;
  height: 258px;
  background-image: url('../assets/plant.png');  
}
#scene-left .imacImgWrap{
  left: calc(50% - 354px) !important;
  margin: 0px 0px 0px 0px;
}
#scene-right .imacImgWrap{
  left: calc(0% - 346px) !important;
  margin: 0px 0px 0px 0px;
}
#scene-left .imacImg{
  width: 699px;
  height: 209px;
  background-image: url('../assets/iMac_left.png');
}
#scene-right .imacImg{
  width: 699px;
  height: 209px;
  background-image: url('../assets/iMac_right.png');
}

#scene-left .glassesImgWrap{
  left: calc(30% - 45px) !important;
  top: 60% !important;
}
#scene-left .glassesImg{
  width: 99px;
  height: 99px;
  background-image: url('../assets/eyeglasses.png');
}

#scene-middle .mouseImgWrap{
  left: calc(65% - 42px) !important;
  top: 50% !important;  
}
#scene-middle .mouseImg{
  width: 85px;
  height: 102px;
  background-image: url('../assets/mouse.png');
}

#scene-middle .keyboardImgWrap{
  left: calc(50% - 122px) !important;
  top: 45% !important;
}
#scene-middle .keyboardImg{
  width: 243px;
  height: 119px;
  background-image: url('../assets/keyboard.png');
}
#scene-middle .logoWrap {
  left: calc(50% - 244px) !important;
  top: 70% !important;
}

/* --------------------------------------------- */
/* About section */
/* --------------------------------------------- */

#about {
  text-align: center;
}

.about-content {
  padding: 180px 0px 180px 0px;
  font-family: 'roboto';
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;
  color: #6f7c82;
}

.about-content h2{
  margin: 28px 0px 72px 0px;
  width: 100%;
  font-family: 'roboto';
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  color: #292e31;
}

.about-content .red-light-bulb {
  display: flex;
  flex-direction: column;  
  justify-content: center;
  border-radius: 4px;
  width: 65px;
  height: 65px;
  background-color: #c80303;
}

.about-content .red-light-bulb img {
  align-self: center
}

.about-content mark{
  background-color: transparent;
  font-family: 'roboto';
  font-weight: 500;
  color: #6f7c82;
}

/* --------------------------------------------- */
/* Contact section */
/* --------------------------------------------- */
#contact {
  position: absolute;
  background-color: #f5f7f9;
  width: 100%;
}

.contact-icon {
  position: relative;
  left: calc(50% - 32px);
  display: flex;
  flex-direction: column;  
  justify-content: center;
  border-radius: 4px;
  margin: -32px 0px 0px 0px;  
  padding: 0px 0px 0px 7px;
  width: 65px;
  height: 65px;
  background-color: #414159;
}

.contact-icon img {
  align-self: center
}

.contact-contect {
  color: #6f7c82;
  font-family: 'roboto';
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  line-height: 28px;
  padding: 30px 0px 50px 0px;
}

.contact-contect h2{
  font-family: 'roboto';
  font-weight: 500;
  font-style: normal;
  font-size: 74px;
  line-height: 100px;
  color: #00263b;
  margin: 0px 0px 73px 0px;
}

.contact-contect h3 {
  color: #00263b;
  text-align: center;
  font-family: 'roboto';
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
}

.contact-contect h4 {
  text-align: center;
  font-family: 'roboto';
  font-weight: 300;
  font-style: italic;
  font-size: 18px;
  line-height: 28px;
  margin: 6px 0px 0px 0px;
}

.contact-contect label {
  font-family: 'roboto';
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #eceff1;
}

.contact-contect .form{
  padding: 60px 0px 0px 0px;
}

.contact-contect .splitter {
  display: block;
  background-color: #00263b;
  margin: 0 auto;
  width: 150px;
  height: 1px;
}

.contact-right-bg {
  position: absolute;  
  display: block;
  left: 50%;
  width: 50%;
  height: 100%;
  background-color: #484863;
}

/* Contact - Input part */
input,
textarea,
[contenteditable] {
  caret-color: #eceff1;
}

input, textarea {
  font-family: 'roboto';
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
  line-height: 24px;
  border-radius: 0px;
  border-color: #9b9ba8;
  background-color: #414159;
  color: #eceff1;
}

input:focus, textarea:focus {
  color: #eceff1;
  border-radius: 0px;
  background-color: #414159;
  border-color: #9b9ba8;
  opacity: 0.8;
}

.textarea-container {
  background-color: #414159;
}

textarea {
  display: block;
  z-index: auto; 
  position: relative; 
  transition: none;
  line-height: 22.5px; 
  font-size: 15px; 
  background: transparent !important;
}

/* Contact - text part */
.contact-contect table {
  display: block;
  width: 280px;
  padding: 40px 0px 90px 0px;
  margin: 0 auto;
}

.contact-contect tr{
  height: 40px;
}

.contact-contect tr td img {
  display: flex;
  margin: 0 auto;
  padding: 0px 20px 0px 0px;
}

/* Contact - Button part */
.contact-contect .button {
  font-family: 'roboto';
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  float: left;
  border: 1px #9b9ba8 solid;
  width: 160px;
  height: 40px;
  margin: 30px 0px 0px 0px;
	display: block;
	background: none;
  color: #eceff1;
  cursor: pointer;
	position: relative;
	z-index: 1;
	-webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: width 2s; /* Safari */
    transition: width 2s;
}
.contact-contect .button:focus {
	outline: none;
}

.contact-contect .button:active {
  border: 2px #9b9ba8 solid;
}

.contact-contect .button-animation {
	-webkit-transition: border-color 0.4s, color 0.4s;
	transition: border-color 0.4s, color 0.4s;
}
.contact-contect .button-animation::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #414159;
	z-index: -1;
	opacity: 0;
	-webkit-transform: scale3d(0.7, 1, 1);
	transform: scale3d(0.7, 1, 1);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.contact-contect .button-animation,
.contact-contect .button-animation::before {
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.contact-contect .button-animation:hover {
	color: #fff;
	border-color: #9b9ba8;
}
.contact-contect .button-animation:hover::before {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}