.headerSec {
  height: 100vh;
  background: #beaec0; /* Old browsers */
  background: -moz-linear-gradient(left, #beaec0 0%, #7b7c8d 50%, #2d4050 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #beaec0 0%,#7b7c8d 50%,#2d4050 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #beaec0 0%,#7b7c8d 50%,#2d4050 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#beaec0', endColorstr='#2d4050',GradientType=1 ); /* IE6-9 */
}

.headerSec .bkgGradRight {
  display: flex;
  flex-direction: column;  
  justify-content: center;
  overflow: hidden;
  float: right;
  height: 100vh;
  width: calc(50vw - 0px);
  /* border-left: 2px solid #ffffff; */
  background: #ef98a1; /* Old browsers */
  background: -moz-linear-gradient(left, #ef98a1 0%, #eeb3a2 50%, #eecca3 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #ef98a1 0%,#eeb3a2 50%,#eecca3 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #ef98a1 0%,#eeb3a2 50%,#eecca3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef98a1', endColorstr='#eecca3',GradientType=1 ); /* IE6-9 */
}

.headerSec .header-content{
  overflow: hidden;
  position: absolute;
  height: 100vh;
  width: 100%;
}
.headerSec .header-center-content{
  display: flex;
  flex-direction: column;  
  justify-content: center;
}

.middleBorder {
  height: 100vh;
  width: calc(50vw + 1px);
  display: flex;
  flex-direction: column;  
  justify-content: center;
  overflow: hidden;
  float: right;
  border-left: 2px solid #ffffff;
}

.header-content-wrap{
  width: 100%;
  height: 80vh;
}

#scene-left {
  display: block;
  /* zoom: 0.5;
  -moz-transform: scale(0.5); */
}

#scene-left2 {
  display: block;
}

#scene-left .plantImgWrap{
  left: calc(10% - 50px) !important;
  margin: 0px 0px 0px 0px;
}
#scene-left .plantImg{
  width: 100px;
  height: 100px;
  background-color: yellow;
}

#scene-left .imacImgWrap{
  left: calc(50% - 350px) !important;
  margin: 0px 0px 0px 0px;
}
#scene-right .imacImgWrap{
  left: calc(0% - 346px) !important;
  margin: 0px 0px 0px 0px;
}
#scene-left .img, #scene-right .img{
  width: 699px;
  height: 209px;
}

#scene-left .glassesImgWrap{
  left: calc(30% - 50px) !important;
  margin: 300px 0px 0px 0px;
}
#scene-left .glassesImg{
  width: 100px;
  height: 100px;
  background-color: yellow;
}

#scene-left2 .keyboardImgWrap{
  left: calc(50% - 100px) !important;
  margin: 320px 0px 0px 0px;
}
#scene-left2 .keyboardImg{
  width: 200px;
  height: 50px;
  background-color: green;
}

#scene-left .mouseImgWrap{
  left: calc(65% - 40px) !important;
  margin: 320px 0px 0px 0px;
}
#scene-left .mouseImg{
  /* float: left; */
  /* margin: 320px 0px 0px 50px;     */
  width: 80px;
  height: 80px;
  background-color: bisque;
}

#scene-left .logoWrap {

  left: calc(50% - 75px) !important;
  margin: 450px 0px 0px 0px;    
}
#scene-left .logoWrap div{
  width: 150px;
  height: 80px;
  background-color: pink;
}